input[type="text"] {
    width: 80%;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    border-radius: 5%;
}

input[type="button"] {
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    border-radius: 10%;
}

button{
    background-color: transparent;
    border: none;
    margin-right: 2%;
    font-size: 14px;
    padding: 4px 8px;
}

